In [1]:
import pandas as pd

In [14]:
df = pd.read_csv('output.csv', dtype={'txtCNPJCPF': str, 'cnpj': str})

In [7]:
df.txtDescricao.unique()

array(['FORNECIMENTO DE ALIMENTAÇÃO DO PARLAMENTAR',
       'CONSULTORIAS, PESQUISAS E TRABALHOS TÉCNICOS.',
       'DIVULGAÇÃO DA ATIVIDADE PARLAMENTAR.',
       'ASSINATURA DE PUBLICAÇÕES',
       'MANUTENÇÃO DE ESCRITÓRIO DE APOIO À ATIVIDADE PARLAMENTAR',
       'COMBUSTÍVEIS E LUBRIFICANTES.', 'PASSAGEM AÉREA - REEMBOLSO',
       'LOCAÇÃO OU FRETAMENTO DE VEÍCULOS AUTOMOTORES',
       'HOSPEDAGEM ,EXCETO DO PARLAMENTAR NO DISTRITO FEDERAL.',
       'PASSAGENS TERRESTRES, MARÍTIMAS OU FLUVIAIS', 'TELEFONIA',
       'SERVIÇOS POSTAIS', 'PASSAGEM AÉREA - RPA',
       'SERVIÇO DE TÁXI, PEDÁGIO E ESTACIONAMENTO',
       'PASSAGEM AÉREA - SIGEPA',
       'SERVIÇO DE SEGURANÇA PRESTADO POR EMPRESA ESPECIALIZADA.',
       'PARTICIPAÇÃO EM CURSO, PALESTRA OU EVENTO SIMILAR',
       'LOCAÇÃO OU FRETAMENTO DE AERONAVES',
       'LOCAÇÃO OU FRETAMENTO DE EMBARCAÇÕES'], dtype=object)

In [11]:
f = df.txtDescricao == 'FORNECIMENTO DE ALIMENTAÇÃO DO PARLAMENTAR'
df[f].groupby(['sgPartido'])['vlrLiquido'].sum().sort_values(ascending=False).to_frame()

               vlrLiquido
sgPartido
PT              235262.61
PSL             228952.81
PSD             132645.39
PP              112421.79
PSDB            104930.25
MDB              97737.77
PL               92781.22
REPUBLICANOS     71128.28
PDT              69299.26
DEM              63230.28
CIDADANIA        38118.15
PSB              35436.35
PTB              23697.43
PSC              18259.25
SOLIDARIEDADE    17824.70
PATRIOTA         16236.85
NOVO             14739.62
AVANTE           14168.62
PROS              7363.08
PCdoB             6583.06
PSOL              4132.02
PR                4128.73
PODE              3153.50
PRB               1779.36
PATRI             1253.42
PPS                901.29
PHS                299.20
PV                 143.02
REDE                62.62

In [29]:
df[f].groupby(['txNomeParlamentar'])['txNomeParlamentar'].count().sort_values(ascending=False).to_frame()

                       txNomeParlamentar
txNomeParlamentar
Zeca Dirceu                          575
Eduardo Cury                         486
Bibo Nunes                           420
David Soares                         419
Professor Joziel                     402
...                                  ...
PEPE VARGAS                            1
Pedro Lucas Fernandes                  1
Fábio Ramalho                          1
FELIPE MAIA                            1
Áurea Carolina                         1

[352 rows x 1 columns]

In [15]:
df.groupby(["txtCNPJCPF", "txtFornecedor"])['vlrLiquido'].sum().sort_values(ascending=False)[0:20].to_frame()

                                                                    vlrLiquido
txtCNPJCPF     txtFornecedor
02012862000160 Cia Aérea - TAM                                     49410159.66
07575651000159 Cia Aérea - GOL                                     44015149.74
09296295000160 Cia Aérea - AZUL                                    12881217.22
07319323000191 PANTANAL VEÍCULOS LTDA                               4362549.04
02012862000160 TAM LINHAS AEREAS S/A.                               2344253.56
02575829000148 Cia Aérea - AVIANCA                                  2272357.30
23721017000133 T2 COMUNICACAO, VIDEO E PRODUCOES EIRELI - EPP       2194668.00
02558157000162 TELEFÔNICA BRASIL S.A. VIVO                          1721626.30
05443449000148 VERTICE - SOCIEDADE CIVIL DE PROFISSIONAIS ASSO...   1419734.00
07575651000159 GOL LINHAS AEREAS S.A.                               1236629.60
28800786000140 GP COBERTURA JORNALISTICA LTDA ME                    1027000.00
12132854000100 WMS COMERCIO DE ARTIGOS DE PAPELARIA LTDA-ME          910632.40
00512777000135 Cia Aérea - PASSAREDO                                 910194.46
08865615000192 WORKING ASSOCIACAO DE INTEGRACAO PROFISSIONAL         890400.00
00000000000001 CELULAR FUNCIONAL                                     872853.43
11630318000172 LINDERLANDIO BARBOSA ME                               811700.00
02610235000120 DMD Gestão Administrativa LTDA - ME                   805000.00
26735227000179 GOLD CAR BRASILIA LOCADORA DE VEICULOS ME             766486.73
13347016000117 FACEBOOK SERVIÇOS ONLINE DO BRASIL LTDA               738266.54
06164253000187 GOL LINHAS AEREAS INTELIGENTES S.A.                   713335.88